:root {
  line-height: 1.5;
  font-weight: 400;
}

/* Déclaration pour TT Modernoir Trial */
@font-face {
  font-family: 'TT Modernoir Trial';
  src: url('/max/src/assets/TT\ Modernoir\ Bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Déclaration pour Articulat CF */
@font-face {
  font-family: 'Articulat CF';
  src: url('./assets/articulat/Articulat\ CF\ Demi\ Bold.otf') format('truetype');

}
@font-face {
  font-family: 'Articulat CF regular';
  src: url('./assets/articulat/Articulat\ CF\ Regulat.otf') format('truetype');

}

@font-face {
  font-family: 'Articulat CF demi';
  src: url('./assets/articulat/Articulat\ CF\ Demi\ Bold.otf') format('truetype');

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Articulat CF regular', sans-serif;

}

h1 {
  font-family: 'TT Modernoir Trial', sans-serif;
}

h2 {
  font-family: 'Articulat CF', sans-serif;
}

.cta, .cta-button, .button .span {
  font-family: 'Articulat CF demi', sans-serif;
  font-weight: 600; /* Optionnel: Si vous voulez garantir que c'est bien demi-bold */
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button {
  font-family: inherit;
}
