:root {
  line-height: 1.5;
  font-weight: 400;
}

/* Déclaration pour TT Modernoir Trial */
@font-face {
  font-family: 'TT Modernoir Trial';
  src: url('./assets/TT-Modernoir-Bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Déclaration pour Articulat CF */
@font-face {
  font-family: 'Articulat CF';
  src: url('./assets/Articulat-CF-Regulat.otf') format('truetype');

}


@font-face {
  font-family: 'Articulat CF demi';
  src: url('./assets/Articulat-CF-Demi-Bold.otf') format('truetype');

}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Articulat-CF-regular', sans-serif;

}
/* App.vue */
.nav-items {
  display: none;
}

.nav-items.open {
  display: flex;
  flex-direction: column;
  background: rgba(28, 83, 114, 0.9);
  position: absolute;
  top: 120%;
  left: 0;
  right: 0;
  padding: 1rem;
  border-radius: 20px;
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.nav-items.open {
  transform: translateY(0);
  opacity: 1;
}

h1 {
  font-family: 'TT Modernoir Trial', sans-serif;
}

h2 {
  font-family: 'Articulat-CF', sans-serif;
}

.cta, 
.cta-button, 
.button {
  font-family: 'Articulat-CF-Demi', sans-serif !important; /* Corrige le nom de la police (majuscule pour 'Demi') */
  font-weight: 600; /* Bonne pratique pour expliciter le poids */
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button {
  font-family: inherit;
}
